/*
 * Created by Trevor Sears <trevor@trevorsears.com> (https://trevorsea.rs/).
 * 4:33 PM -- July 25th, 2026
 * Project: resume
 */

.html {
	
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	.body {
		
		min-height: 100%;
		
	}
	
}